.main
{
    margin-left: 20%;
    display: flex;
    font-family: "Arial";
    position: fixed;
    flex-direction: column;
}

.main div img
{
    width: 60%;
    margin-left: 20%;
    margin-bottom: -20px;
}
.main div h2
{
    color: white;
    width: 80%;
    margin-left: 10%;
    line-height: 1.5;

}
.abouticons
{
    margin-top: 20px;
    width: 100%;
}
.abouticons div
{
    display: flex;
}
.abouticons div div
{
    width: 90%;
    margin-left: 5%;
    justify-content:center;
}
.abouticons div div img
{
    width:15%;
    margin: 0px 15px;
}
.abouticons div div h2
{
    font-size: 2.0em;
    color: white;
    padding: 10px 0px;
    margin-left: -8px;
}
.abouticons div .facebook
{
    flex:30%;
}
.abouticons div .gmail
{
    flex:40%;
}
.abouticons div .phone
{
    flex:30%;
}