.main
{
    margin-left: 21%;
}
.main .db-space
{
    height: 15px;
}
.main .data
{
    background-color: white;
    height: 50%;
    width: 99%;
    border-radius: 10px;
}
.main .data h3
{
    justify-content: flex-start;
    padding: 8px 10px;
    color: #767676;
}
.main .data h2
{
    justify-content: flex-start;
    padding: 8px 10px;
}
.main .feedback
{
    background-color: white;
    height: 50%;
    width: 99%;
    margin-top: 1%;
    border-radius: 10px;
}
.main .analytics
{
    background-color: white;
    height: 50%;
    width: 99%;
    margin-top: 1%;
    border-radius: 10px;
}
.analytics .package
{
    height: 175px;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url("../Media/Icons/Dashboard - Package.jpg");
    background-size: 100% 175px;
    background-repeat: no-repeat;
    width: 89%;
    margin-left: 5%;
    margin-bottom: 20px;
}
.analytics .package h4
{
    padding-top: 15px;
    color: white;
    font-family: "Arial";

}
.analytics .package .classic
{
    font-size: 2.5em;
}
.analytics .package .dollars
{
    font-size: 5em;
}
.analytics .buttons
{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content:space-between;
}
.analytics .buttons button
{
    width: 48%;
    height: 60px;
    font-size: 1.5em;
    border-radius: 10px;
    border: 2px solid transparent;
}
.analytics .buttons .extend
{
    background-color: #28a745;
    color: white;
}
.analytics .buttons .extend:hover
{
    background-color: white;
    color: #28a745;
    border: 2px solid #28a745;
}
.analytics .buttons .refund
{
    background-color: #dd3948;
    color: white;
}
.analytics .buttons .refund:hover
{
    background-color: white;
    color: #dd3948;
    border: 2px solid #dd3948;
}