.maindiv
{
    margin-left: 21%;
    width:79%;
    position: fixed;
}
.facilitiespidcdiv
{
    top:0;
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.facilitiespics
{   
    width: 100%;
    border-radius: 25px;

}
.facilitiesinfo
{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 25px;
    width: 90%;
    margin-left:  5%;
    bottom: 0;
    height: 10%;
    position: absolute;
    overflow: hidden;
}
.facilitiesinfo:hover
{
    height: 90%;
}
.text-middle
{
    text-align: center;
    font-size: 350%;
    font-family: 'Agency FB', sans-serif;

}
.text-justify
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    line-height: 1.5;
    margin-top: 10px;
}
.text-bigger
{
    font-size: large;
}

@media screen and (orientation:portrait) 
{
    .maindiv
    {
        margin-left: 5%;
        width:90%;
        margin-top: 15%;
        position: absolute;
    }
    .facilitiespidcdiv
    {
        width: 100%;
        margin-left: 0%;
    }
    .facilitiespics
    {   
        width: 100%;
        border-radius: 25px;
    }
    .facilitiesinfo
    {
        background-color: rgba(0, 0, 0, 0);
        overflow:visible;
    }
    .text-middle
    {
        font-size: 250%;
        margin-top: 30px;
    }
    .text-justify
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin-left: 2.5%;
    }
    .text-bigger
    {
        font-size: medium;
    }
}