*
{
    margin: 0;
    padding: 0;
}
nav
{
    position: fixed;
    height: 100%;
    background-color: white;
    width: 6%;
}
nav .space
{
    height: 10px;
}
nav div a img
{
    margin-left: 17.5%;
    width: 65%;
    padding: 5px;
    box-sizing: border-box;
    padding-top: 15px;
}
nav div a
{
    text-decoration: none;
}
nav div a h5
{
    color: black;
    text-align: center;
    padding: 5px; 
    font-size: small;
}
nav .navactive
{
    border-right: 5px solid black;
}
nav .navactive a img
{
    margin-left: 12.5%;
    width: 75%;
}
nav .navactive a h5
{
    font-size: medium;
}
nav div:hover
{
    background-color:rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    margin: 0px 2px;
}
nav .navactive:hover
{
    margin: 0px ;
}

@media (min-width: 768px) and (max-width: 1280px)
{
    nav div a h5
    {
        font-size: xx-small;
    }
    nav .navactive a h5
    {
        font-size: x-small;
    }
}

@media screen and (orientation:portrait)
{
    nav
    {
        position: fixed;
        bottom: 0;
        height: 10%;
        background-color: white;
        width: 100%;
        display: flex;
    }
    nav div a img
    {
        width: 50%;
        margin-left: 25%;
    }
    nav div a h5
    {
        color: black;
        text-align: center; 
        font-size: xx-small;
    }
    nav .navactive
    {
        border-right: 0px solid transparent;
        border-bottom: 4px solid black;
    }
    nav .navactive a img
    {
        margin-left: 20%;
        width: 60%;
    }
    nav .navactive a h5
    {
        font-size: x-small;
    }
    nav div:hover
    {
        background-color:rgba(128, 128, 128, 0.5);
        border-radius: 15px;
        margin: 2px 0px;
    }
}